body {
  margin: 0;
  overflow: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
  font-size: 7em;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
  cursor: pointer;
}

.axis-label,
.dropdown-label {
  font-size: 2.5em;
  fill: #635f5d;
  color: #635f5d;
}

.menus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 60px;
}

.dropdown-label {
  margin-left: 100px;
  margin-right: 10px;
}

.Dropdown-root {
  font-size: 1.5em;
  width: 250px;
  display: inline-block;
}

div.Dropdown-menu {
  max-height: 500px;
}
